<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign In
    </title>
    <link rel="styleshhet" href="style.css">
</head>
<body>
    <form  action="" (ngSubmit)="login()">
        <h2 style="color:BEIGE"> Sign In</h2>
        <input type="text" name="email" [(ngModel)]="email" placeholder="Enter Email" required>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password">
        <input type="submit" value="Login">
       <div class="register"><a href="#" style="color:beige" routerLink="/register"> New user Register</a></div> 
    </form>
    <div class="form-group">
        <p *ngIf="errorMessage.length > 0" class="text-danger">
            {{errorMessage}}</p>
    
        <p *ngIf="error.message.length > 0" class="text-danger">
            {{error.message}} </p>
    
       
    </div>
</body>
</html>