



<body>

    <header class="navbar " style="background-color:rgb(160, 161, 231);">
      <a class="col-md-3 col-lg-2 me-0 px-3" style="color:BEIGE; font-size: x-large;" href="#" >
        <img src="https://cdn.website-editor.net/1bbc5b8bcbe442fc8c52d63c793970ca/dms3rep/multi/mobile/0fddfe0cfd59b512dfa938d36bf256d9_kids-party-background-png-ls-kid-clipart-transparent-background_2400-877.png" alt="" height="50">My Routine</a> 
  
  
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" style="color: beige; font-size: large;" href="#"> Sign In</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3"> 
        <li class="nav-item text-nowrap">
          <a class="nav-link" style="color: beige; font-size: large;" href="register">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" style="color: beige; font-size: large;" href="#">Sign out</a>
        </li>
      </ul>
    </header>
  
  
    <router-outlet></router-outlet>
