



<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">My Routines</a>
  
  
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3"> 
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </header>
  
   

    <router-outlet></router-outlet>
