 <!-- <h3>{{title}}</h3> -->
 
<app-category></app-category>
<div class="form-group">
  
  
  <input  class="form-control" id="routineName" placeholder="Enter routine" 
  [(ngModel)]="filterText"/>

<small *ngIf="filterText" class="form-text text-muted">
  Now  {{filterText}} is seraching...
</small>
</div>



<div class="col-md-12">
<div class="row">
<div *ngFor="let routine of routines | routineFilter:filterText" class="routinebox">
    <img [src]="routine.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-family:'Gaegu';color:#4e4e72;background-color:#FF7851; font-size: 200%;">{{routine.name}} </h5>
      <p class="card-text">{{routine.description}}</p>
      <a href="#" (click)="addToAlert(routine)" class="btn btn-primary">Score: +{{routine.score}}</a>
    </div>
  </div>
</div>
</div>